/* * {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 400px;
}

.container {
  margin: 1rem;
}

#main-header {
  font-weight: 700;
}

.bigger-text {
  font-size: small;
}

.smaller-text {
  font-size: x-small;
  font-weight: 300;
}

.summaryTextLayout {
  /* border: 1px solid #ddd; */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px #ccc;
  font-weight: 400;
}
